:root{
    --green-color: #03a776;
    --blue-color: #0043B1;
    --beige-color: #F6EDD9;
    --light-green-color: #F0FCF2;
    --black-color: #000000;
    --white-color: #FFFFFF;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    /* height: 200vh; */
    
    
}

/* BACKGROUND IMAGE */

.bg-img{
    position: absolute;
    background-size: cover;
    width: 100%;
    height: auto;
    z-index: -5;
    opacity: .15;
    margin-top: 150px;
    background-repeat: repeat;
}

/****************** navbar ************************/

nav {
    margin: 30px 100px 0px 100px;
    
    
 }
 
 nav.navbar.navbar-expand-lg.bg-white.bordure{
    box-shadow: 0 0 7px 3px rgba(40, 108, 80, .3);
 }
 
 
 
 
 .rsrh{
    border: 2px solid green;
 }
 .rsrh:hover{
    border:4px solid #03a776;
    transition: 0.5s ;
 }
 
 
 .container-fluid .navbar-brand h6 {
    color:#000000;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
 }
 
 .bordure {
 border: 1px solid #286C50 ;
 border-radius: 10px;
 
 
 }
 
 .rbtn-search {
    background-color:rgba(40, 108, 80, .2);
 }
 
 .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;    
 }
 
 .navbar-brand h6 {
    margin-top: 5px;
    margin-left: 10px;
 }
 a.nav-link.dropdown-toggle{
    font-size: 12px;
    color:#286C50;
    font-weight:600;
 }
 
 .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
  color:#286C50;
  font-weight: bold;
 }
 
 a.nav-link.dropdown-toggle{
    font-weight: bold;
 }
 
 a.nav-link.active{
    font-size: 12px;
    color: #000000;
    font-weight:bold;
 }
 
 a.nav-link.active:hover{
    text-decoration-line: underline ;
 }
 
 .dropdown-menu a:hover{
    background-color: rgba(3, 167, 118, .2);
 }
 
 .nrbut{
    background: none;
    border: 1px solid #286C50 ;
    padding: 10px 20px;
    border-radius:0 0 10px 10px;
    font-size: 15px;
    left: 68%;
    margin: 0px;
    font-weight: bold;
    transition: 0.8s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    justify-content:flex-end
 }
 
 button.nrbut{
    box-shadow: 2px 2px 4px 0px rgba(40, 108, 80, .4);
 }
 
 button .nrbut a{
    text-decoration: none;
    color: #286C50;
 }
 
 
 .nbut{
    z-index: 1;
    margin-left: -10px;
 }
 .nrbut{
    font-size: 1vw;
    font-weight: bold;
    color:#286C50;
    text-decoration: none;
    left:65%;
 }
 .nrbut a{
    text-decoration: none;
    color: #286C50;
 }
 .nrbut a,.nrbut:hover{
    color: white;
 }
 .nrbut::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #286C50 ;
    z-index: -1;
    color: #286C50;
    transition: 0.8s;
 }
 .nrbut::before{
    color: #286C50;
    top:0;
    border-radius: 0 0 50% 50%;
 
 }
 .nrbut:hover::before{
    height:180%;
 color: white;}
 
 /* end of navbar */  
 
 /* modal of accès aux comptes */
 .modal-body{
    display: flex;
    justify-content: space-around;
 }
 
 
 .espace-client{
    width: 500px;
 }
 .espace-client-demo {
    width: 400px;
 }
 
 .demonstration{
    display: flex;
    justify-content: space-between;
 }
 
 .demonstration .particulier-and-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .demonstration .professionel-and-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .demonstration .entreprise-and-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .espace-client-demo h5{
    padding-bottom: 10px;
 }
 
 .espace-client-demo h6{
    color: #286C50;
    padding: 20px 0px 15px 0px;
 }
 
 .modal-header{
    background-color: #286C50;
 }
 
 .modal-content{
    padding: 5px;
 
 }
 
 /* end of accès aux comptes */
 
 
 
 
 
 
 
 /* Les media queries */
 
 @media screen and (max-width: 1370px){
    a.nav-link.active{
       font-size: 9px;
   }
   a.nav-link.dropdown-toggle{
    font-size: 9px;
 }
 }
 
 
 
 @media screen and (max-width: 724px) {
    /* navbar */
    .container-fluid .navbar-brand h6 {
        display: none;
    }
    /* end of navbar */
 
     
    
 }
 
 @media screen and (max-width: 1188px){
 
    /* navbar */
    button.nrbut{ 
        left: 35%;
        font-size: 1.2vw;
    }
 
    /* end of navbar */
 
 }
 
 
 @media screen and (max-width: 1188px) and (min-width:991px) {
    /* navbar */
    a.nav-link.active{
        font-size: 8px;
    }
 
    a.nav-link.dropdown-toggle{
        font-size: 8px;
    }
 
    /* end of navbar */
    
 }
 
 

/* end of accès aux comptes */

/********* end of navbar *****************************/ 



.pourquoi{
    display: flex;
    align-items:center;
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.pourquoi h1 span{
    color: #286C50;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.pourquoi p{
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
}




/****** BEGIN OF THE CUBE ********/

.cube{
    /* margin-left: 1000px; */
    position: relative;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 10s linear infinite;

}

@keyframes animate
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);

    }

    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
        
    }
}

.cube div {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

}

.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#03a776);
    transform: rotateY(calc(90deg * var(--i))) translateZ(125px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.cube div span h2{
    position: absolute;
    font-size: 3em;
    color: white;
    transform: translateZ(50px);
}

.cube div span h2 a{
    text-decoration:none;
    color: #FFFFFF;
}


.cube div span h2.accompagnement{
    position: absolute;
    font-size: 2em;
    color: white;
    transform: translateZ(50px);
}



.cube div span h2:nth-child(1){
    transform: translateZ(0) translateY(20px);
    color: rgba(0,0,0,0.1);
    filter: blur(2px);
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background: #222;
    transform: rotateX(90deg) translateZ(125px);

}

.top::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background: rgb(3, 167, 118);
    transform: translateZ(-250px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(3,167, 118,0.2),
    0 0 200px rgba(3,167, 118,0.4),
    0 0 300px rgba(3,167, 118, 0.6),
    0 0 400px rgba(3,167, 118, 0.8),
    0 0 500px rgb(3,167, 118);


}

/****** END OF THE CUBE  ********/

.why_cube{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 340px;
    margin-top: 200px;
}



/* SECURITE SECTION */

.sécurité_section .sécurité_section_div {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 50px 40px 0px 40px;

}

.sécurité_section h1{
    margin-top: 250px;
    margin-left: 40px;
    text-decoration: underline;
}

.sécurité_section_div p{
    /* background-color: white; */
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 750px;
}

.sécurité_section_div img{
    
    height: 350px;
    border: solid #286C50;
    border-style:dotted;
}


/* END OF SECURITE SECTION */


/* ACCOMPAGNEMENT SECTION */

.accompagnement_section .accompagnement_section_div {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    margin: 50px 40px 0px 40px;

}

.accompagnement_section h1{
    margin-top: 120px;
    margin-left: 40px;
    text-decoration: underline;
}

.accompagnement_section_div p{
    /* background-color: white; */
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 750px;
}

.accompagnement_section_div img{
    
    height: 350px;
    border: solid #286C50;
    border-style:dotted;
}


/* END OF ACCOMPAGNEMENT SECTION */



/* PROXIMITE SECTION */

.proximité_section .proximité_section_div {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 50px 40px 0px 40px;

}

.proximité_section h1{
    margin-top: 120px;
    margin-left: 40px;
    text-decoration: underline;
}

.proximité_section_div p{
    /* background-color: white; */
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 750px;
}

.proximité_section_div img{
    
    height: 350px;
    border: solid #286C50;
    border-style:dotted;
}


/* END OF PROXIMITE SECTION */


/* OUVERTURE DE COMPTE SECTION */

.compte_section .compte_section_div {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 50px 40px 0px 0px;
    padding: 10px;

}

.compte_section h1{
    margin-top: 120px;
    
    text-decoration: underline;
    color: #286C50;
    text-align: center;

}

.compte_section_div p{
    /* background-color: white; */
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 750px;
}

.compte_section_div img{
    
    height: 350px;
    border: solid #286C50;
    border-style:dotted;
}


/* END OF OUVERTURE DE COMPTE SECTION */



.modal_condition{
    display: flex;
    flex-direction: column;
}





























/* Les media queries */


@media screen and (max-width: 724px) {
    /* navbar */
    .container-fluid .navbar-brand h6 {
        display: none;
    }
    /* end of navbar */

    .why_cube{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        
    }

    .why_cube .cube{
        margin-left: 200px;
    }


    .proximité_section .proximité_section_div {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }

    .sécurité_section .sécurité_section_div {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .accompagnement_section .accompagnement_section_div{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .proximité_section_div p{
        /* background-color: white; */
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width:auto;
    }

    .accompagnement_section_div p{
        /* background-color: white; */
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width:auto;
    }

    .sécurité_section_div p{
        /* background-color: white; */
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width:auto;
    }

    .compte_section_div{
        display: flex;
        flex-direction: column;
    }

    
}

@media screen and (max-width: 1188px){

    /* navbar */
    button.ibut{ 
        left: 35%;
        font-size: 1.2vw;
    }

    /* end of navbar */

    .why_cube{
        display: flex;
        flex-direction: column;

        /* margin-left: 200px; */

        margin-top: 0px;
        
    }

    .why_cube .pourquoi{
        margin-bottom: 50px;
        width: 500px;
        
    }

    .why_cube .cube{

        /* margin-left: 230px; */

        margin-left: 200px;
    }


    .proximité_section .proximité_section_div {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }

    .sécurité_section .sécurité_section_div {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .accompagnement_section .accompagnement_section_div{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .proximité_section_div p{
        /* background-color: white; */
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width:auto;
    }

    .accompagnement_section_div p{
        /* background-color: white; */
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width:auto;
    }

    .sécurité_section_div p{
        /* background-color: white; */
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width:auto;
    }

    .compte_section_div{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 1188px) and (min-width:991px) {
    /* navbar */
    a.nav-link.active{
        font-size: 8px;
    }

    a.nav-link.dropdown-toggle{
        font-size: 8px;
    }

    /* end of navbar */

    .why_cube{
        display: flex;
        flex-direction: column;

        margin-left: 200px;

        margin-top: 0px;
        
    }

    .why_cube .pourquoi{
        margin-bottom: 50px;
        width: 500px;
        
    }

    .why_cube .cube{

        margin-left: 230px;
    }


    .proximité_section .proximité_section_div {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }

    .sécurité_section .sécurité_section_div {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .accompagnement_section .accompagnement_section_div{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .proximité_section_div p{
        /* background-color: white; */
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width:auto;
    }

    .accompagnement_section_div p{
        /* background-color: white; */
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width:auto;
    }

    .sécurité_section_div p{
        /* background-color: white; */
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width:auto;
    }

    .compte_section_div{
        display: flex;
        flex-direction: column;
    }
    
}




/* a {
    color: white;
  } */
  .bgl{
    background-color: #286C50;
  }
  
  .shfooter .collapse {
    display: inherit;
  }
  .icon1{
    color: white;
  }
  .icon2{
    color: white;
  }
  .icon3{
    color: white;
  }
  .icon4{
    color: white;
  }
  .icon5{
    color: white;
  }
  .loc{
    color: white;
  }
  .ad{
    display: flex;
    flex: row;
  }
  @media (max-width: 767px) {
    .shfooter ul {
      margin-bottom: 0;
    }
   
    .shfooter .collapse {
      display: none;
    }
   
    .shfooter .collapse.show {
      display: block;
    }
   
    .shfooter .title .fa-angle-up,
    .shfooter .title[aria-expanded="true"] .fa-angle-down {
      display: none;
    }
   
    .shfooter .title[aria-expanded="true"] .fa-angle-up {
      display: block;
    }
   
    .shfooter .navbar-toggler {
      display: inline-block;
      padding: 0;
    }
    .dec{
        display: none;
      }
      .ser{
        display: none;
      }
      .ai{
        display: none;
      }
      .con{
        display: none;
      }
  }
   
  .resize {
    text-align: center;
  }
  .resize {
    margin-top: 3rem;
    font-size: 1.25rem;
  }
  
  /*RESIZESCREEN ANIMATION*/
  .fa-angle-double-right {
    animation: rightanime 1s linear infinite;
  }
   
  .fa-angle-double-left {
    animation: leftanime 1s linear infinite;
  }
  @keyframes rightanime {
    50% {
      transform: translateX(10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(10px);
      opacity: 0;
    }
  }
  @keyframes leftanime {
    50% {
      transform: translateX(-10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-10px);
      opacity: 0;
    }

  }
