$mycolor:#286C50; $mycolor2:#000000;
.tit{
    text-align: center;
    color: $mycolor ;
    margin: 30px;
}
.stitre{
    display: flex;
    flex-direction: column;
    margin: 35px;
    .mytit{
        color: $mycolor;
        text-align: center;
    }
    .mypa{
        color: $mycolor2;
       
        
    }
}